/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #2193b0, #ade2ee); 
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px; 
  }